// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.one-picture{
  text-align: left;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-bottom: 3px;
  border-bottom: solid #eeeeee 2px;
}

.profile-img{
  border-radius: 20px;
  height: 40px;
  width: 40px;
}
